.home__search-middle {
    text-align: center;
}

.home__title-search {
    font-size: 38px;
    color: #3a3a3acc;
    line-height: 56px;
    text-align: center;
}

.home__input-search {
    width: 100%;
}


